*{margin: 0;}
h1{margin-bottom: 30px;
    margin-top: 30px;
    color: blueviolet;
padding: 10px;
border: 10px; border-style: solid; color: blueviolet;
width: 400px;
height: 25px;

}
    p{width: 800px;}
 th{
    color: rgb(75, 42, 165);
 }   

 .metodo_para_colocar_color_a_otros{
    color: rgb(26, 36, 184);
 }
 #tex2{
    color: lawngreen;
 }
 .centrar{
    text-align: center;
 }
 .central_texto{text-align: center; justify-content: center ;}
