*{margin: 0;}
h1{margin-bottom: 30px;
    margin-top: 30px;
    color: blueviolet;
padding: 25px;
border: 15px; 

}
    
 th{
    color: rgb(75, 42, 165);
 }   

 .metodo_para_colocar_color_a_otros{
    color: rgb(26, 36, 184);
 }
 #tex2{
    color: lawngreen;
 }
 